*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: lora, serif;
    font-weight: 700;
    font-size: 60px;
    background-image: url(../assets/fondo.jpg);
    text-align: center;
}

h2{
    font-family: lora, serif;
    font-weight: 600;
    font-size: 40px;
    background-color: beige;
    text-align: center;
}

h3{
    font-family: lora, serif;
    font-weight: 400;
    font-size: 25px;
    background-color: beige;
    text-align: center;
}

p{
    font-weight: 400;
font-family: Lora, serif ;
background-color: beige;
line-height: 1.5;
}

a{
    font-family: lora, serif;
    font-size: 24px;
    background-color: beige;
    
}
h1{
color: blue;
}

p{
    color: blueviolet;
}

p.color-verde{
    color:black;
}

header{
color: aqua;
}